/* 
    Document   : base
    Created on : Mar 16, 2013, 8:53:50 PM
    Author     : timbrandin
    Description:
        Purpose of the stylesheet is to set all base styling for referenceit.
*/

.referenceit {
  position: relative;
  display: inline-block;
  /* IE7 fix for inline-block. */
  zoom: 1;
  *display: inline;
}
.referenceit ul {
  margin: 0;
}
.referenceit li {
  list-style: none;
}
.referenceit input {}
.referenceit button {}
.referenceit .form-item {
  display: inline;
}



/* Input field. */
.referenceit .input {
  display: inline;
}
.referenceit .input input {
  font-size: 14px;
  line-height: 18px;
  padding: 6px 24px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 2px 3px #ddd;
  -moz-box-shadow: inset 0 2px 3px #ddd;
  box-shadow: inset 0 2px 3px #ddd;
  margin-right: 3px;
  border-color: #aaa;
}
.referenceit .input input:focus {
  background: #fff;
  border-color: #4992BA;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 2px 3px #ddd, 0 -1px 8px -2px #bbb;
  -moz-box-shadow: inset 0 2px 3px #ddd, 0 -1px 8px -2px #bbb;
  box-shadow: inset 0 2px 3px #ddd, 0 -1px 8px -2px #bbb;
  outline: none;
}
.referenceit .input input:active {}
.referenceit .input.connected input {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 38%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#f9f9f9), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 38%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 38%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 38%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9f9f9 38%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  border-color: #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 0 #eee;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff, 0 1px 0 #f9f9f9;
}



/* Input listener field. */
.referenceit .listener {
  display: block;
}



/* Operation buttons. */
.referenceit .operations {
  float: right;
  display: none;
}
.referenceit .operations button {}
.referenceit .operations .edit {}
.referenceit .operations .remove {}
.referenceit .connected .operations {
  display: inline;
}



/* Control buttons. */
.referenceit .controls {
  float: right;
  display: inline;
}
.referenceit .controls button {
  cursor: pointer;
  padding: 4px 17px;
  margin-right: 0.5em;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #bbb;
  border-bottom: 1px solid #949494;
  border-left-color: #a2a2a2;
  border-right-color: #a2a2a2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3, 0 1px 0 #f9f9f9;
  -moz-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3, 0 1px 0 #f9f9f9;
  box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f9f9f9, 0 1px 0 #f9f9f9;
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #f7f7f7 22%, #f7f7f7 42%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(22%,#f7f7f7), color-stop(42%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.referenceit .controls :active {
  border-color: #777;
  border-bottom-color: #555;
  -webkit-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3;
  -moz-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3;
  box-shadow: inset 0 1px 2px #aaa;
  background: #ccc;
}
.referenceit .controls :hover {}
.referenceit .controls .create {}
.referenceit .controls .browse {}
.referenceit .controls .create.select {}
.referenceit .controls .create.select li {}



/* Auto-complete dropdown. */
.referenceit .autocomplete {
  position: absolute;
  display: none;
  margin-top: -1px;
  border: solid 1px #888;
  -webkit-box-shadow:  0 2px 3px #ddd;
  -moz-box-shadow: 0 2px 3px #ddd;
  box-shadow: 0 4px 5px #eee;
  background: #fff;
}
.referenceit .autocomplete li {
  cursor: pointer;
  padding: 4px 24px 5px;
  border-bottom: solid 1px #888;
}
.referenceit .autocomplete .add {}
.referenceit .autocomplete .link {}
.referenceit .autocomplete .browse {}
.referenceit .autocomplete .selected {
  background: #C0E5F9;
}
.referenceit .autocomplete .browse.selected {
  padding: 6px 4px;
  border-bottom: none;
  text-align: center;
  background: #f3f3f3;
}
.referenceit .autocomplete .browse .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
}
.referenceit .autocomplete .browse .detail {
  display: block;
  color: #777;
  line-height: 13px;
  font-size: 11px;
}