.field-widget-referenceit {
  position: relative;
}


/* ----- Searchfield  ----- */

.field-widget-referenceit input.dropdown-select {
  font-size: 14px;
  line-height: 18px;
  padding: 6px 24px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 2px 3px #ddd;
  -moz-box-shadow: inset 0 2px 3px #ddd;
  box-shadow: inset 0 2px 3px #ddd;
  margin-right: 3px;
  border-color: #aaa;
}

.field-widget-referenceit input.dropdown-select.connected {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 38%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#f9f9f9), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 38%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 38%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 38%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9f9f9 38%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  border-color: #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 0 #eee;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff, 0 1px 0 #f9f9f9;
  
}

.field-widget-referenceit input.dropdown-select:focus {
  background: #fff;
  border-color: #4992BA;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 2px 3px #ddd, 0 -1px 8px -2px #bbb;
  -moz-box-shadow: inset 0 2px 3px #ddd, 0 -1px 8px -2px #bbb;
  box-shadow: inset 0 2px 3px #ddd, 0 -1px 8px -2px #bbb;
  outline: none;
}


/* ----- Other  ----- */

.field-widget-referenceit .form-type-textfield {
  display: inline-block;
}

.field-widget-referenceit .data-container {
  /*display: none;*/
}


/* ----- Auto-complete selection list  ----- */

.field-widget-referenceit .autocomplete-wrapper {
  position: absolute;
  display: none;
  
  background: #fff;
  border: solid 1px #888;
  margin-top: -1px;
  -webkit-box-shadow:  0 2px 3px #ddd;
  -moz-box-shadow: 0 2px 3px #ddd;
  box-shadow: 0 4px 5px #eee;
}

.field-widget-referenceit .autocomplete-wrapper ul {
  margin: 0;
}

.field-widget-referenceit .autocomplete-wrapper li {
  list-style: none;
  border-bottom: solid 1px #888;
  padding: 4px 24px 5px;
  cursor: default;
}

.field-widget-referenceit .autocomplete-wrapper li.selected {
  background: #C0E5F9;
}

.field-widget-referenceit .browse.select {
  background: #f3f3f3;
  border-bottom: none;
  padding: 6px 4px;
  text-align: center;
}

.field-widget-referenceit .browse .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.field-widget-referenceit .browse .result {
  display: block;
  color: #777;
  font-size: 11px;
  line-height: 13px;
}

/* ----- Modal buttons  ----- */

.field-widget-referenceit input.controls {
  cursor: pointer;
  padding: 4px 17px;
  margin-right: 0.5em;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #bbb;
  border-bottom: 1px solid #949494;
  border-left-color: #a2a2a2;
  border-right-color: #a2a2a2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3, 0 1px 0 #f9f9f9;
  -moz-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3, 0 1px 0 #f9f9f9;
  box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f9f9f9, 0 1px 0 #f9f9f9;
  
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #f7f7f7 22%, #f7f7f7 42%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(22%,#f7f7f7), color-stop(42%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#f7f7f7 22%,#f7f7f7 42%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.field-widget-referenceit input.controls:active {
  border-color: #777;
  border-bottom-color: #555;
  -webkit-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3;
  -moz-box-shadow: inset 0 1px 0 0px #fff, inset 0 0 0 1px #f3f3f3;
  box-shadow: inset 0 1px 2px #aaa;
  
  background: #ccc;
}


/* ----- Dropdown  ----- */

.field-widget-referenceit #dropdown:empty {
  display: none;
}
.field-widget-referenceit #dropdown {
  position: absolute;
  background-color: #fff;
  border: solid 1px #000;
  margin-top: -18px;
  width: 100%;
}
.field-widget-referenceit #dropdown .select {
  cursor: pointer;
}
.field-widget-referenceit #dropdown .select:hover {
  background-color: #ccc;
}
.field-widget-referenceit #dropdown .browse {
  text-align: center;
  background-color: #ddd;
  padding: 4px;
}
.field-widget-referenceit #dropdown .browse * {
  display: block;
}
.field-widget-referenceit #dropdown .browse .title {
  font-size: 1.2em;
}
.field-widget-referenceit #dropdown .referenceit-autocomplete {
  padding: 2px;
}